[zuul]
layout_config=/etc/zuul/layout.yaml

[gearman_server]
start=true

[gearman]
server=172.17.0.4

[connection gerrit]
driver=gerrit
server=172.17.0.3
port=29418
baseurl=http://172.17.0.3:8080/
user=zuul
sshkey=/etc/zuul/ssh/id_rsa

