[zuul]
layout_config=/etc/zuul/layout/layout.yaml

[gearman_server]
start=true

[gearman]
server=127.0.0.1

[connection gerrit]
driver=gerrit
server=__GERRIT_SERVER__
port=__GERRIT_PORT__
baseurl=__GERRIT_BASEURL__
user=__GERRIT_USER__
sshkey=__GERRIT_SSH_KEY__

